.footer{
    width: 100%;
}
.foot {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.foot a {
    text-decoration: none;
    color: var(--text);
}

.foot a:hover {
    color: var(--accent);
}
.footer__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    Height: 261px;
}
.footer__top-title{
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--font-roboto);
}
.footer__top-info{
    font-size: 31px;
    font-family: var(--font-roboto);
}
.Bottom{
    padding: 50px 15px;
}
.footer__bott{
    display: flex;
    justify-content: space-between;
}
.footer__bott ul{
    padding-left: 0;
}
.footer__bott span{
    line-height: 60px;
    font-family: var(--font-roboto);
}
.footer__bott-social ul li{
    display: inline;
}
.copyright {
    font-size: 14px;
    padding-left: 15px;
}
@media (max-width: 992px) {
    .footer__top{
        display: none;
    }
    .Bottom {
        padding: 0;
        font-size: 16px;
    }

    .copyright {
        font-size: 14px;
    }
}
@media (max-width:768px) {
    .footer__bott-logo {
        display: none;
    }
    .Bottom {
        font-size: 14px;
    }

    .copyright {
        font-size: 12px;
    }
}
@media (max-width:576px) {
    .foot {
        padding: 5px;
    }
    .Bottom {
        font-size: 11px;
    }

    .Bottom span {
        line-height: 30px;
    }

    .copyright {
        font-size: 9px;
        padding-left: 0;
    }

    .footer__bottom-social ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}