.howitworks {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}
.howitworks__title{
  width: 100%;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  justify-content: center;
}
.howitworks__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.howitworks__item {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
}

.howitworks__item-title {
  margin-top: 15px;
  font-size: 30px;
  line-height: 35px;
  display: block;
}

.howitworks__item-description{
  margin-top: 15px;
}
.howitworks__button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}