.story{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
}
.storytop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.storybott{
    display: flex;
    justify-content: center;
    align-items: center;
}
.storytop__info-title,
.storybott__info-title {
    text-transform: uppercase;
}
.storytop__info,
.storybott__info {
    width: 50%;
    padding: 0 40px;
    position: relative;
}
.storytop__info-description,
.storybott__info-description {
    font-size: 26px;
    list-style: 40px;
    padding: 20px 0px;
    font-family: var(--font-roboto);
}
.suntop{
    position: absolute;
    right: 5%;
}
.sunbott{
    position: absolute;
    bottom: 0px;
    right: 40%;
}
@media (max-width:992px) {
    .storytop__info,
    .storybott__info {
        padding: 10px;
    }
    .storytop__info-description,
    .storybott__info-description {
        font-size: 18px;
        line-height: 28px;
        padding: 5px;
    }
    .storytop__info-title,
    .storybott__info-title{
        font-size: 16px;
    }
    .storytop img,
    .storybott img {
        width: 350px;
    }
}
@media (max-width: 768px) {
    .storytop__info,
    .storybott__info {
        padding: 10px;
    }
    .storytop__info-description,
    .storybott__info-description {
        font-size: 14px;
        line-height: 20px;
        padding: 5px;
    }
    .storytop__info-title,
    .storybott__info-title{
        font-size: 12px;
    }
    .storytop{
        padding-bottom: 10px;
    }
    .storytop img,
    .storybott img {
        width: 300px;
    }
    .storytop,
    .storybott {
        position: relative;
    }
}
@media (max-width:576px) {
    .story{
        padding: 0px;
    }
    .storytop,
    .storybott {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--text);
        padding-bottom: 0px;
        margin: 5px;
        border-radius: 20px;
    }
    .storytop__info,
    .storybott__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 5px;
    }
    .storytop__image,
    .storybott__image {
        margin: 5px;
    }
    .storytop img,
    .storybott img {
       display: none;
    }
    .story img{
        width: 250px;
    }
    .subott{
        bottom: 20px;
        overflow: hidden;
    }
    .suntop{
        top:20px;
    }
}