.banner__image
    position: relative
    &-info
        font-size: 68px
        transform: translate(135px, -600px)
        position: absolute
    &-button
        transform: translate(135px, -350px)
        position: absolute
.search__content
    display: flex
    font-family: $secfont
    font-size: $fontsize2
    color: $seccolor