@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  color: white;
}

header a {
  color: white;
}

header a:hover {
  color: grey;
}

header .top .wrapper {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

header .info__phone {
  font-size: 14px;
}

.top_inp {
  width: 500px;
  min-width: 250px;
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
  padding: 4px;
  border: 0;
  outline: none;
  font-size: 14px;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin-left: 50px;
}

.menu ul li:first-child {
  margin-left: 0px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.2s ease-in all;
}

.menu ul li a:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: grey;
}

.btn{
  border: 1px solid black;
  background-color:#adadad;
  padding: 10px 20px;
  font-size: 14px;
  display: inline-flex;
  justify-content:center;
  align-items:center;
  min-width: 175px;
}
.btn-darc{
  background-color:black;
  color: white;
}
.btn:hover{
  background-color: #575757;
  color: #d6d6d6;
}
.main {
  display: flex;
}

.main__left {
  width: 30%;
  padding: 15px;
}

.main__right {
  width: 70%;
  padding: 15px;
}

.sorting{
  display:flex;
  border-bottom: 1px solid gray;
}

.sorting__choice{
  display: flex;
  float: right;
}
.sorting__choice> input[type="radio"]:checked{
  

}


aside ul {
  list-style: none;
  padding-left: 5px;
  margin: 0;
  border: 1px solid #707070;
  background-color: white;
}

aside a {
  text-decoration: none;
  color: black;
}

aside a:hover {
  background-color: rgb(230, 223, 223);
}

aside .chapter {
  color: white;
  background-color: black;
}

aside ul li a {
  text-decoration: none;
  display: block;
  transition: 0.3s ease-in all;
  color: black;
  padding-left: 5px;
}

aside ul li a:hover {
  text-decoration: none;
  transform: scale(1.01);
}

aside ul ul {
  display: none;
  position: relative;
  top: 100%;
}

aside ul li:hover>ul {
  display: inherit;
}

aside ul ul li {
  min-width: 170px;
  display: list-item;
  position: relative;
  background-color: rgb(230, 223, 223);
}

.push {
  margin-top: 30px;
  display: flex;
  padding: 15px;
  border: 1px solid black;

}

.push.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.push__icon {
  width: 20%;
}

.push_text {
  width: 80%;
}

.push__text-title {
  font-size: 25px;
  font-weight: 700;
}

.push__text-decripsition {
  font-weight: 400;
}

.slider {
  border: 1px solid black;
  min-height: 200px;
}

.main__right-title {
  text-align: center;
  margin-top: 30px;
 
}

.card__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 2px solid grey;
  padding: 15px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15px;
}

.card__img {
  width: 160px;
  height: 160px;
  background-color: black;
  /**position:relative;**/
}
/**.card__img:before{
  content:'';
  width: 100%;
  position: absolute;
  heigth:100%;
  top:0;
  left:0;
  backgroundcolor;
}**/
.card__title {
  font-size: 18px;
  line-height: 20px;
}

.crad__prise {
  font-size: 16px;
  line-height: 18px;
}

.card__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  height:80px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card__btn div{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn div:nth-child(1) {
  background-color: black;
  color: white;
}

.card__btn div:nth-child(2) {
  background-color: grey;
}

.product__info{
  display: flex;
}
.product__description{
  width:50%;
  padding: 15px;
}
.product__description-title{
  font-size:22px;
  line-height: 25px;
}
.product__description-info{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
  margin-top:15px;
}
.product__description-prise{
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.product__description-sail{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.product__description-cards{
  display: flex;
  margin-top: 15px;
}
.product__description-cards div{
  border: 1px solid gray;
  margin-right: 15px;
  padding:5px;
  font-size: 18px;
  font-weight: 700;
}
.product__description-cards .visa{
  color: orange;
}
.product__description-cards .master{
  color: red;
}

.product__description-cartBtn{
  margin-top: 15px;
  display: flex;
}
.product__description-cartBtn .caunt{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.product__description-cartBtn .caunt input{
  max-width: 95px;
}
.product__description-btn{
  margin-top: 15px;
}

.product__slider{
  width:50%;
}
.product__slider-preview{
  max-height: 316px;
  min-height:200px;
  border: 1px solid black;
}
.product__slider-list{
  display:flex;
  margin-top: 10px;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
}
.slider-item{
  border: 1px solid black;
  width: 60px;
  height: 41px;
}
.product__review-stars{
  display: flex;
  align-items: center;
  margin: 15px;
}
.stars{
  overflow: hidden;
  margin-left: 0px;
}
.stars:not(:checked) >  input{
  display: none;
}
.stars:not(:checked) >  label{
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color:black;
  text-shadow: 1px 1px rgb(161, 161, 161);
}

.stars:not(:checked)>label:before {
  content: '★';
}

.stars>input:checked~label {
  color: yellow;
  text-shadow: 1px 1px rgb(252, 4, 4);
}

.stars:not(:checked)>label:hover,
.stars:not(:checked)>label:hover~label {
  color: yellow;
}

.stars>input:checked+label:hover,
.stars>input:checked+label:hover~label,
.stars>input:checked~label:hover,
.stars>input:checked~label:hover~label,
.stars>label:hover~input:checked~label {
  color: yellow;
  text-shadow: 1px 1px rgb(252, 4, 4);
}

.stars>label:active {
  position: relative;
}

.product__review-btn{
  display: flex;
  margin-top: 15px;
}
.tab-item thead {
  background: rgb(211, 211, 211);
}
.tab-item table {
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 400;
}
.tab-item td {
  padding: 10px 45px;
  border: 1px solid black;
  min-width: 200px;
}

.tab-item th {
  padding: 10px 45px;
  border: 1px solid black;
}

.product__review-tabs{
  font-size: 0px;
}
.product__review-tabs>input[type="radio"]{
  display: none;
}
.product__review-tabs>div{
  display: none;
  border: none;
  padding: none;
  font-size: 16px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.product__review-tabs>label{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 16px;
  width: 188.7px;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.product__review-tabs>label:not(:first-of-type) {
  border-left: none;
}

.product__review-tabs>input[type="radio"]:checked+label {
  background-color: rgb(201, 199, 199);
  border-bottom: 1px solid black;
}

.product__review-tabs>input[type="radio"]:checked+label:hover {
  background-color: #575757;
  color: #d6d6d6;
}

.product__review-tabs>label:not(:first-of-type):hover {
  background-color: #575757;
  color: #d6d6d6;
}

.recommed__title{
  text-align: center;
  margin-top: 30px;
}

.contacts{
  padding: 15px;
}
.contacts__title-head{
  padding-top: 15px;
  padding-bottom: 15px;
}
.contacts__address table{
  width: 100%;
  background: transparent;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
.contacts__map iframe{
  display: flex;
  justify-content: center;
  margin:30px auto;
  width: 100%;
  max-height: 300px;
}
.contacts__input input {
  display: block;
  width: 70%;
  margin: 15px;
}

.contacts__input label{
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 15px;
}

.contacts__title-back {
  border-bottom: 1px solid black;
}

input.btn{
  width: 300px;
}

.contacts__inp-submit{
  display: flex;
  justify-content: flex-end;
}


footer {
  width: 100%;
  color: white;
  margin: 10px;
}

footer a {
  color: white;
}

footer .name a:hover {
  color: black;
}

footer .down .wrapper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

footer .name {
  width: 300px;
}

footer .menu ul li a:hover {
  text-decoration: none;
  transform: scale(1.05);
  color: white;
}

footer .info__phone {
  width: 100%;
  background-color: black;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}