@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  font-size:16px;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  width: 100%;
  color:white;
  }
header a{
  color:grey;
}
header .top .wrapper{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  }
header .info__phone{
  font-size: 14px;
}
input{
  width: 600px;
  background-color: rgb(189, 189, 189);
  border-radius: 4px;
  padding: 4px;
  border: 0;
  outline: none;
  font-size: 14px;
}
.menu{
  width: 100%;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.menu ul li{
  margin-left: 20px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
   text-decoration: none;
   color: black;
   display: block;
   transition: 0.3s ease-in all;
}
.menu ul li a:hover{
  color: red;
}


.title__sidebar{
  color: white;
  background-color: black;
  padding: 5px;
  margin-top: 20px;
  width: 210px;
}
.menu__sidebar ul{
  list-style: none;
  margin: 0px;
  padding: 15px;
  height: 330px;
  width: 210px;
  border: 1px solid gray;
}
.menu__sidebar ul li{
  padding-top: 10px;
}
.menu__sidebar ul li a{
  text-decoration: none;
  color: black;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  margin: 10px;
}
footer a{
  color: grey;
}
footer .down .wrapper{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:grey;
}
footer .name {
  width: 300px;
}
footer .info__phone{
  width: 100%;
  background-color: black;
  padding: 15px;
  font-size: 14px;
  text-align: center;
}